@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nunito:wght@200;300;400;600&family=Roboto:wght@100;300;400;500&display=swap');

/*==========================================================================
--------------------------     Variables     -----------------------------
============================================================================*/

:root {
	--main-color-dark: #FFD2CE;
	--main-color-light: #FFE0DD;
	--screen-overlay-color: rgba(255,255,255,0.55);
	--hover-color: #FFD2CE;
	--border-color: #FFB7B1;
	
	--font-color-dark: #353131;
	--font-main-headings: 'Roboto', "Helvetica Neue", Helvetica, Arial, "sans-serif";
	--font-secondary-headings: 'Montserrat', "Helvetica Neue", Helvetica, Arial, "sans-serif";
	--font-general: 'Nunito', sans-serif;;
}

/*==========================================================================
--------------------------     Base Styles     -----------------------------
============================================================================*/

* {
	box-sizing: border-box;
	color: #FFB7B1
}

html {
	background-color: var(--main-color-dark);
}

body {
	max-width: 1400px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

/*==========================================================================
--------------------------    Typography   -----------------------------
============================================================================*/

h3,
a,
p,
#directory-heading,
input[type="search"],
::placeholder {
	color: var(--font-color-dark);
}

main,
aside,
input[type="search"],
::placeholder {
	font-family: var(--font-general);
	font-weight: 200;
	letter-spacing: 0.7px;
}

h3,
#directory-heading {
	text-transform: uppercase;
}

h3 {
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 12px;
	font-family: var(--font-secondary-headings)
}

a {
	text-decoration: none;
}

p {
	margin: 7px 0;
}

#directory-heading {
	padding-left: 26.5px;
	font-family: var(--font-main-headings);
	font-weight: 100;
	letter-spacing: 4px;
}

/*==========================================================================
--------------------------      Components     -----------------------------
============================================================================*/

/*----------------------    Search   ------------------------*/

input[type="search"] {
	margin: 0 0 25px 26.5px;
	padding: 5px;
	width: 175px;
	border: solid 1.5px var(--border-color);
	border-radius: 5px;
	background-color: var(--main-color-light);
}

input[type="search"]:focus { 
    outline: none;
    box-shadow: 0 0 8px 3px var(--border-color);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/*-------------------    Loading Icon  ----------------------*/

#loading-icon {
	margin: 25% auto;
    width: 50px;
}

/*==========================================================================
--------------------------      Containers     -----------------------------
============================================================================*/

#employee-directory > div,
.employee-overlay {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px;
	background-color: var(--main-color-light);
	border-radius: 20px;
}

/*----------------------    Employee Directory   ------------------------*/

#employee-directory {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 7px;
  	row-gap: 7px;
	padding: 0 7px;
}

#employee-directory a {
	display: none;
}

#employee-directory > div {
	border: solid 1.5px var(--border-color);
	transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#employee-directory > div:hover {
	background-color: var(--hover-color);
	box-shadow: 0 0 10px 1px var(--border-color);
}


/*----------------------    Employee Overlay  ------------------------*/

.employee-overlay {
	flex-direction: column;
	position: fixed;
	width: 300px;
	height: 400px;
	left: -310px;
	top: 25%;
	text-align: center;
	z-index: 2;
}

.employee-overlay .employee-info {
	border-bottom: solid 1px var(--main-color-dark);
}

#screen-overlay {
	display: none;
	background-color: var(--screen-overlay-color);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.close-icon {
	height: 30px;
    position: relative;
    left: 120px;
    top: -5px;
}

/*----- The below must stay in this order otherwise will mess with tranistion animation ----- */
.move-right {
	left: calc(100vw + 310px);
}

.selected {
	left: calc(50% - 150px);
}

.closed {
	left: calc(100vw + 310px);
}

.transition {
	transition: left 1s ease-in-out;
}
/*-------------------------------------------------------------------------------------------- */

#left-arrow,
#right-arrow {
	height: 30px;
	position: fixed;
	top: calc(25% + 12px);
    z-index: 3;
	display: none;
}

#left-arrow {
	transform: rotate(180deg);
    left: calc(50% - 145px);
}

#right-arrow {
    left: calc(50% - 120px);
}

/*----------------------    Employee Info   ------------------------*/

.employee-info img {
	height: 120px;
	border-radius: 100%;
	padding-right: 5px;
	border: solid 2px var(--border-color);
	filter: brightness(.95) contrast(1.4);
	transition: border 1s ease-in-out;
}

.employee-info:hover img {
	border: solid 2px rgba(255,255,255,0);
	
}

.employee-info div {
	margin-left: 4px;
}

/*==========================================================================
-------------------------      Media Queries     ----------------------------
============================================================================*/

@media (min-width: 425px) {
	#employee-directory {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		padding: 0 25px;
		column-gap: 25px;
  		row-gap: 25px;
	}
	#employee-directory a {
		display: inline;
	}
	#employee-directory > div {
		padding: 25px;
	}
	
	.employee-overlay {
		padding: 25px 35px;
	}
	
	.close-icon {
		left: 120px;
		top: -7px;
	}

	input[type="search"] {
		margin: 0 26.5px 0 0;
	}
	header {
		flex-direction: row;
		align-items: center;
	}
	
	#left-arrow,
	#right-arrow {
		height: 70px;
		top: calc(25% + 165px);
	}
	
	#left-arrow {
		left: calc(50% - 220px);
	}
	#right-arrow {
		left: calc(50% + 150px);
	}
}

@media (min-width: 1425px) {
	#employee-directory {
		padding: 0;
	}
	#directory-heading {
		padding-left: 1.5px;
	}
	input[type="search"] {
		margin-right: 0;
	}
}

